<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册页面</title>
	<link rel="stylesheet" href="/style/bootstrap.css">
	<link rel="stylesheet" href="/style/index.css">
</head>
<body>
	<div class="container">
		<h2 class="h2 text-center colorwhite">注册信息</h2>
		<div class="registerBox">
			<div class="form-group clearfix">
				<label class="col-sm-2">用户名:</label>
				<div class="col-sm-10">
					<input type="text" placeholder="请输入用户名" class="col-sm-10 form-control" autofocus="" name="username">
				</div>
			</div>
			<div class="form-group clearfix">
				<label class="col-sm-2">密码:</label>
				<div class="col-sm-10">
					<input type="text" placeholder="请输入密码" class="col-sm-10 form-control" name="password">
				</div>
			</div>
			<div class="form-group clearfix">
				<label class="col-sm-2">性别:</label>
				<div class="col-sm-10">
					<input type="text" placeholder="请输入性别" class="col-sm-10 form-control" name="sex">
				</div>
			</div>
			<div class="form-group clearfix">
				<label class="col-sm-2">年龄:</label>
				<div class="col-sm-10">
					<input type="text" placeholder="请输入年龄" class="col-sm-10 form-control" name="age">
				</div>
			</div>
			<div class="form-group clearfix">
				<label class="col-sm-2">所在地:</label>
				<div class="col-sm-10">
					<input type="text" placeholder="请输入所在地" class="col-sm-10 form-control" name="address">
				</div>
			</div>
			<div class="form-group clearfix text-center">
				<button type="button" class="btn btn-success col-sm-12 register">注册</button>
			</div>
		</div>
	</div>
</body>
</html>
<script src="/javascript/config.js"></script>
<script>
	var register = document.querySelector('.register')
	var inputArr = document.querySelectorAll('input')
	register.addEventListener('click',function (e) {
		var form = {}
		var data = []
		inputArr.forEach(function (val,index) {
			form[val.name] = val.value
		})
		for(var k in form) {
			if (!form[k]) return alert(`${k}未填写`)
			data.push(`${k}=${form[k]}`)
		}
		var xhr = new XMLHttpRequest()
		xhr.open('post',`${config.serverURL}api/register`)
		xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded')
		xhr.send(data.join('&'))
		xhr.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var response = JSON.parse(this.responseText)
				if (response.success == true) {
					alert(response.message)
					location.href = `${config.serverURL}api/sigin`
				}else {
					alert(response.message)
				}
				console.log(this.responseText)
			}
		}
	})

</script>